<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Playlist Downloader</title>
</head>
<body>
    <h1>YouTube Playlist Downloader</h1>
    <form id="download-form">
        <label for="playlist_url">Masukkan URL Playlist YouTube:</label>
        <input type="text" id="playlist_url" name="playlist_url" required>
        <button type="submit">Download</button>
    </form>
    <a class="nav-link" aria-current="page" href="#">Home</a>
    <div id="progress"></div>
    <audio id="alert-sound" src="{{ url_for('static', filename='alert.mp3') }}" preload="auto"></audio>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
